
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Header-Section*/
#header{
    text-align: center;
    background-color: rgb(19, 19, 80);
    width: 100%;
    height: 50px;
    position:fixed;

}
.header-text{
    font-family: 'Rubik', sans-serif;
    color: white;
    padding-top: 15px;
    
}
.header-text a{
    color: white;
}

/*Video-Section*/
#background-video
 {
    width: 100vw;
    height: 100vh; 
    object-fit:cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}
.Model3{
    text-align: center;
    color: white;
    line-height: 1.5em;
    margin-top: 70px;
    font-family: 'Rubik', sans-serif;
}
.Model3 h1{
    font-size: 40px;
    padding-bottom: 10px;
}
.container{
    margin: auto;
    max-width: 1100px;
    overflow: auto;
    padding: 0 20px;
}
/*Navbar*/
#navbar{
    background: transparent;
    color: #fff;
    overflow: auto;
    padding-top: 60px;

}

.logo{
    float:left;
    padding-top: 10px;
}
#navbar h1{
    font-family: 'Bruno Ace SC', cursive;
    font-size:larger
}

#navbar ul{
    text-align: center;
    list-style: none;
    float:right;
    margin-right: 30%;
    
}

#navbar ul li {
    float:left;
}

#navbar ul li button{
    background-color: transparent;
    color: white;
    display: block;
    border: 5px solid transparent;
    border-radius: 5px;
    padding:3px 10px;
    text-align: center;
    margin-left: 5px;
    font-size: 15px;
    font-family: 'Rubik', sans-serif;
}

#navbar ul li button:hover{ 

    background-color:rgb(219, 218, 218);
    color:black
}
/*Three Info*/
.Three-Info{
    display: table;
    margin-top: 200px;
    color: white;
    font-family: 'Rubik', sans-serif;
   margin-left: 36%;
   
   
}
.Info{
    padding-right: 60px;
    display: table-cell;
    text-align: center;
    
}
.Info h1{
    font-size: 25px;
}
.Info p{
    padding-top: 8px;
}
/*Two Buttons*/
.btn1{
    background-color: white;
    color: black;
    border: 3px solid white;
    border-radius: 5px;
    padding:10px 60px;
    cursor: pointer;
    font-family: 'Rubik', sans-serif;
    font-size:15px;
}
.btn2{
    background-color:transparent;
    color: white;
    border: 3px solid white;
    border-radius: 5px;
    padding:10px 60px;
    cursor: pointer;
    margin-left: 20px;
    font-family: 'Rubik', sans-serif;
    font-size:15px;
}
.btn2:hover{
    background-color: white;
    color:black;
}
.two-buttons{
    text-align: center;
    margin-top: 10px;
    font-family: 'Rubik', sans-serif;
}

.videoText{
    text-align: center;
    color: #fff;
    padding-top: 30px;
    font-family: 'Rubik', sans-serif;
    font-size: 12px;
}
.videoText p a{
    color: #fff;
    
}
.videoText p{
    margin-top: 0;
}


/* Safety-Design*/
#safety-design
{
    background:url('https://digitalassets.tesla.com/tesla-contents/image/upload/h_1800,w_2880,c_fit,f_auto,q_auto:best/model-3-hero-a-desktop')  no-repeat center center/cover;
    height: 550px
    
}
#safety-design-content
{
    background-color: white;
    padding: 170px;
    line-height: 1.3em;
    font-family: 'Rubik', sans-serif;
}
#safety-design-content a{
    color: rgb(79, 77, 77);
}
#safety-design-content h1,p{
    padding-bottom: 30px;
}
.Star-Rating{
    float: left;
    width: 50%;
    color: rgb(79, 77, 77);
}
.Safety-Pick{
    float: right;
    width: 48%;
    color: rgb(79, 77, 77);
}
#safety-design-content p{
    color: rgb(79, 77, 77);
}
/*Map-Design*/
#Map-section{
    background: url('https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto:best/Model-3-Range-Hero-Desktop-NA') no-repeat center center/cover;
    height: 440px;
}
.Map-text{
 margin-left: 50px;
 line-height: 2em;
 font-family: 'Rubik', sans-serif;
}
#Map-section h1{
    padding-top: 40px;
}
/*Last Section*/
#footer{
    background-color: white;
    height: 200px;
}
.part2{
    float: left;
    width: 40%;
    padding: 40px;
    padding-left: 120px;
    font-family: 'Rubik', sans-serif;
}
.part1{
    float: right;
    width: 60%;
    padding: 40px;
    padding-right: 110px;
    line-height: 1.3em;
    font-family: 'Rubik', sans-serif;
}
#footer h1{
    padding-bottom: 20px;
}
.plan{
    padding:10px 60px;
    background: none;
    border: 3px solid black;
    border-radius: 5px;
    cursor: pointer;
    font-size:15px;
    font: bold;
}
.plan:hover{
    background-color: black;
    color: white;
}
.part1 p {
    color: rgb(67, 65, 65);
}
.part1 a{
    color:rgb(67, 65, 65); ;
}